<div class="container">
  <!-- form -->
  <div class="login-section">
    <h2>Inicia Sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <input 
        type="text" 
        placeholder="Usuario" 
        [(ngModel)]="email" 
        name="email" 
        required />

      <input 
        type="password" 
        placeholder="Contraseña" 
        [(ngModel)]="password" 
        name="password" 
        required />

      <button type="submit">A Pochoclear</button>

      <p class="redireccionRegistro">
        ¿No tenés cuenta? 
        <a class="linkRedirRegistro" routerLink="/registro">Registrate</a>
      </p>
    </form>
  </div>

  <!-- logo -->
  <div class="logo-section">
    <img src="/PochocleandoNg/public/images/Pochi IS.png" alt="Logo de Pochocleando" class="logo" />
    <h1>Pochocleando</h1>
  </div>
</div>
