<header>

    <div class="header-container">
            
        <a routerLink="/"><img src="\images\logo.png" class="logo" alt="logo de pochocleando"></a>
                        
        <nav>
            <ul>
                <li> <a routerLink="/">Inicio</a> </li>
                <li> <a routerLink="/peliculas">Películas</a> </li>
                <li> <a routerLink="/series">Series</a> </li>
                <li> <a routerLink="/generos">Géneros</a> </li>
                <li> <a routerLink="/acercade">Acerca de</a> </li>
                <li> <a routerLink="/iniciarsesión">Iniciar Sesión</a> </li>
            </ul>
        </nav>

    </div>

</header>