:root {
            --primary-color: #8e008b;
            --secondary-color: #5c008b;
            --dark-color: #2e005d;
            --light-color: #f8f9fa;
            --success-color: #4CAF50;
            --alternative-color1: #ff8300;
            --alternative-color2: #ff6200;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Quicksand', sans-serif;
            background-color: var(--dark-color);
            color: var(--light-color);
            line-height: 1.6;
        }
        
        header {
            background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
            padding: 1rem 2rem;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
        
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .logo {
            display: flex;
            align-items: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 2.5rem;
            -webkit-text-stroke: 0.4px var(--alternative-color1);
            text-align: left;
            color: white;
            text-decoration: none;
        }

        .logo-group {
            display: flex;
            align-items: center;
            gap: 10px; /* Ajustá el espacio entre logo y texto */
        }
        
        .logo span {
            color: var(--primary-color);
        }
        
        .LOGOAPP{
            height: 125px;
             width: auto;
        }
        
        
        nav ul {
            display: flex;
            list-style: none;
        }
        
        nav ul li {
            margin-left: 1.5rem;
        }
        
        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
        }
        