<section class="tarjetas-container">
    
    <div class="search-container">
        <div class="search-box">
            <input #inputBusqueda type="text" class="search-input" placeholder="Buscar películas..." (keyup.enter)="BuscarSeries(inputBusqueda.value)">
            <button class="search-btn" (click)="BuscarSeries(inputBusqueda.value)"><i class="fas fa-search"></i> Buscar</button>
        </div>
            
        <div class="filter-options">
            <button id="botonPopulares" class={{botones[0]}} (click)="SeriesPopulares(0)">Populares</button>
            <button id="botonValoradas" class={{botones[1]}} (click)="SeriesMejorValoradas(1)">Mejor valoradas</button>
            <button id="botonComedia" class={{botones[2]}} (click)="SeriesComedia(2)">Comedia</button>
            <button id="botonDrama" class={{botones[3]}} (click)="SeriesDrama(3)">Drama</button>
        </div>

    </div>
        
    <div class="tarjeta-grid">
        <app-tarjeta
        *ngFor="let dato of datos"
        [id] = "dato.id"
        [tipo] = "tipo"
        [titulo] = "dato.title ?? dato.name"
        [anio]="(dato.release_date ?? dato.first_air_date) | date: 'yyyy'"
        [puntuacion] = "dato.vote_average"
        [poster] = "'https://image.tmdb.org/t/p/w500' + dato.poster_path"
        ></app-tarjeta>
    </div>
    
</section>