<div class="container">
  <!-- form -->
  <div class="login-section">
    <h2>Inicia Sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <input 
        type="text" 
        placeholder="Email" 
        [(ngModel)]="email" 
        name="email" 
        required />

      <input 
        type="password" 
        placeholder="Contraseña" 
        [(ngModel)]="password" 
        name="password" 
        required />

      <button type="submit">A Pochoclear</button>

      <p class="redireccionRegistro">
        ¿No tenés cuenta? 
        <a class="linkRedirRegistro" routerLink="/registro">Registrate</a>
      </p>
      <p class="linkRecuperar">
      <a (click)="mostrarRecuperar = true">¿Olvidaste tu contraseña?</a>
      </p>
    </form>
  </div>
<!-- Recuadro para recuperar contraseña -->
<div class="recuperar-container" *ngIf="mostrarRecuperar">
  <p>Escribí tu correo y te enviaremos instrucciones para restablecer tu contraseña</p>
  <input 
    type="email" 
    [(ngModel)]="emailRecuperar" 
    placeholder="Correo electrónico" />

  <button (click)="enviarRecuperacion()">Enviar instrucciones</button> <!-- ruta a recuperarpassword. -->
  <button (click)="mostrarRecuperar = false">Cancelar</button>
</div>

  <!-- logo -->
  <div class="logo-section">
    <img src="\images\Pochi IS.png" alt="Logo de Pochocleando" class="logo" /> <!-- falla la img -->
    <h1>Pochocleando</h1>
  </div>

  <!-- pantalla de carga -->
  <div class="loading-overlay" *ngIf="isLoading">
    <img src="\images\LOGOAPP.png" alt="Pochocleando logo" class="loading-logo" /> <!-- falla la img -->
    <p class="loading-text">Cargando...</p>
  </div>
</div>