<section class="tarjetas-container">

    <div class="search-container">
        <app-searchbar 
            [tipoBusqueda]="'ambos'"
            (resultados)="procesarResultados($event)" 
            (busquedaUsuario)="actualizarTituloBusqueda($event)"></app-searchbar>
    </div>
        
    <h2 class="titulo-seccion">{{tituloSeccion}}</h2>

    <div class="tarjeta-grid">
        <app-tarjeta
        *ngFor="let dato of datos"
        [id] = "dato.id"
        [tipo] = "dato.media_type"
        [titulo] = "dato.title ?? dato.name"
        [anio]="(dato.release_date ?? dato.first_air_date) | date: 'yyyy'"
        [puntuacion] = "dato.vote_average"
        [poster] = "'https://image.tmdb.org/t/p/w500' + dato.poster_path"
        ></app-tarjeta>
    </div>
    
</section>